body {
  background-color: #212529;
  color: white;
}

.border-profile-pic {
  border-radius: 1rem;
}

.bg-milkyway {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  z-index: -1;
}

img.bg-fixed-image {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

@media (max-width: 1000px) {
  img.bg-fixed-image {
    max-height: 1356px;
    min-height: 1356px;
  }
}

.intro {
  padding-top: 4em;
  padding-bottom: 4em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 80%);
}

@media (min-width: 1000px) {
  .intro {
    padding-top: 10em;
    padding-bottom: 10em;
  }
}

@media (min-width: 1200px) {
  .intro-header {
    width: 60%;
  }
}

.text-intro {
  color: hsla(215, 25%, 50%, 1);
}

.intro-summary {
  padding-top: 4em;
}

@media (min-width: 1000px) {
  .intro-summary {
    padding-top: 13em;
  }
}

@media (min-width: 1200px) {
  .intro-summary {
    padding-left: 10em;
    padding-right: 10em;
  }
}

h2.summary {
  font-weight: 600;
}

p.summary {
  font-size: 1.3em;
}

.icon-holder {
  color: hsla(215, 25%, 50%, 1);
  transition: color 400ms;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.icon {
  fill: currentColor;
  height: 3em;
  width: auto;
}

.skills-transition-top {
  fill: #eeeeee;
  transform: translateY(-99%);
}

.skills-transition-bottom {
  fill: #eeeeee;
  transform: scale(1,-1) translateY(-100%);
}

.skills {
  background-color: #eeeeee;
  color: black;
}

.skill-card {
  width: 10rem;
  border-radius: 1rem;
}

h1.skills-text {
  font-weight: 600;
}

h1.skills-text::before {
  display: block;
  content: '';
  margin-bottom: 0.3em;
  width: 3em;
  height: 0.15em;
  border-radius: 1em;
  background: hsla(257, 45%, 41%, 1);
  background: linear-gradient( to right, hsl(293, 42%, 42%), hsla(257, 45%, 41%, 1) );
}

p.skills-text {
  font-size: 1.3em;
}

img.skill-logo {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
